html	{
	scroll-behavior: smooth;
}
body	{
	margin:0;
	background-color:#ffffff;
	color:grey;
	font-family:"Raleway";
	text-align: justify;
}

*{box-sizing: border-box;}

.headerr {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	background-color:white;
	text-align: center;
	width: 100%;
	margin-top: 5px;
	position: fixed;
	z-index: 1;
	top: 0;
}
/*Left Column*/
.headerLeftCol a {
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	padding: 1vw 5vw 0 0;
}
/*Right Column A and B*/
.headerRightCol {
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	padding: 0 5vw 0 30vw;
}

.headerMenu	{
	font-family:"Raleway",sans-serif;
	position: relative;
	width: 100%;
	z-index:1;
	display: block;
	top: 3vw;

}
.headerMenu a {
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: small;
	width:20%;
	font-weight: bold;
	color: #231d5e;
/*padding values :top, right, bottom, left*/
	padding: 1.4vw 0;
}
.activeLink, .headerMenu a:hover	{
	background-color: #eee;
	color: black;
	overflow: hidden;
	text-decoration: none;
}

.smallScreenHeader	{
	cursor: pointer;
	padding: 10px;
	width: 100%;
	color: white;
	font-family: "Raleway", sans-serif;
	margin: 0;
	display: none;
}

.smallScreenHeader img	{
	max-width: 7.5vw;
	margin-bottom: -10px
}

.overlaMenu {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: rgba(8,26,38, 0.98);
	top: 0;
	left: 0;
	overflow-y: hidden;
	transition: 0.5s;
}

.overlaMenu-content {
	position: relative;
	top: 1%;
	width: 100%;
	height: 90%;
	text-align: left;
	left: 0;
	font-family: "Raleway", sans-serif;
}

.overlaMenu a {
	font-weight: bold;
	font-size: 125%;
	height: 15%;
	padding: 20% 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	transition: 0.3s;
}

.overlaMenu a:hover, .overlaMenu a:focus {
	color: #f1f1f1;
}

	@media screen and (max-height: 450px) {
		.overlaMenu {
			overflow-y: auto;
		}
		.overlaMenu a {
			font-size: 20px
		}
		.smallScreenHeader	{
			font-size: small;
		}
	}
	@media screen and (max-width: 700px) {
		.headerr {
			display: none;
		}
		.smallScreenHeader	{
			display: block;
		}
	}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	transition: 0.5s ease
}

#myBtn:hover {
	background-color:white;
	color:#154360
}

.headr {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: #f1f1f1;
}

.progress-containr {
	width: 100%;
	height: 5px;
	background: #ccc;
}

.progress-br {
	height: 5px;
	background: #4caf50;
	width: 0%;
}

#firstLetter	{
	font-size: 125%;
	padding-left: 50px;
}

	@media screen and (max-width: 700px) {
		.header {
			display: none;
		}
	}
	@media screen and (max-width: 850px) {
		.headerRightCol {
			padding: 0 2vw 0 10vw;
		}
		.headerMenu	{
			top: 20px;
		}
	}
/************************************************		HeaderText		**************************************************/
.headerText	{
	font-family: "Tangerine";
	font-size: 100px;
	text-align:center;
	color:white;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
/*padding values :top, right, bottom, left*/
	padding: 0.5vw;
	margin-top: 105px;
}
	@media screen and (max-width: 700px) {
		.headerText {
			padding: 0;
			margin-top: 5px;
		}
	}
	@media screen and (max-width: 850px) {
		.headerText	{
			font-size: 80px;
			padding: 10vw 5vw 5vw;
			margin-top: 60px;
		}
	}
	@media screen and (max-width: 1200px) {
		.headerText	{
			margin-top: 5px;
		}
	}

.animate {
	-webkit-animation: faisalsZoomButton 1s;
	animation: faisalsZoomButton 1s
}

@-webkit-keyframes faisalsZoomButton {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes faisalsZoomButton {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/************************************************		The Rest Page		**************************************************/
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}

.leftcolum {
	float: left;
	width: 75%;
}

/* Right column */
.rightcolum {
	float: left;
	width: 25%;
	padding-left: 20px;
}

/* Add a card effect for articles */
.aboutContent	{
	background-color: white;
	margin-top: 20px;
	
	padding: 50px 250px 50px 150px;
	font-size: 110%;
	overflow: hidden;
}

.aboutContent img {
	padding: 0 10%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.table-content{
	padding: 5vw 4vw;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	width: 100%;
	overflow: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
th,td{
	color: black;
	padding: 1vw 4vw;
}
.download_doc{
	text-align: center;
	padding: 100px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 100%;
	height: 80vh;
	border: none;
}

/* Footer */
.footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	overflow: hidden;
	word-wrap: break-word;
}

.footerMap	{
	-ms-flex: 30%;
	flex: 30%;
	padding: 0.5vw;
	background-color: #fff;
	border-radius: 5px;
}

.map-responsive	{
	overflow:hidden;
	padding-bottom:80%;
	position:relative;
	height: 0;
}
.map-responsive iframe	{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.footerMenu	{
	-ms-flex: 15%;
	flex: 15%;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 15px;
}

.footerMenu a	{
	text-decoration: none;
	color: #999;
	font-size: 20px;
}

.footerFB	{
	-ms-flex: 30%;
	flex: 30%;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	color: #555;
}

.footerFB a	{
	text-decoration: none;
	color: #555;
}

.footerFB i	{
	color: #070;
	margin-right: 10px
}

#copyRight	{
	font-size: small;
	margin: 0;
	font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1200px) {
	.leftcolum, .rightcolum {
		width: 100%;
		padding: 0;
	}
	.aboutContent	{
		padding: 50px;
	}
}

@media screen and (max-width: 768px) {
	.leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	}
	.aboutContent	{
		padding: 20px;
	}
	iframe {
		margin: 10px 0;
		height: 20vh;
	}
	.download_doc {
		display: none;
	}
	.footer	{
		display: block;
	}
	.footerMap	{
		width: 100%;
		padding:1vw;
	}
	.footerMenu	{
		width: 100%;
		margin: 15px 0;
	}
	.footerFB	{
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
	}
}

@media screen and (max-width: 400px) {
	#copyRight	{
		font-size: xx-small;
	}
}